* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.app {
    height: 96.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    // background: tomato;
    overflow: hidden;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    font-size: large;
    font-weight: 600;
    text-align: center;
}

.bottom-status {
    margin-top: 10px;
    font-size: large;
    font-weight: 400;
    text-align: center;
}

.hook {
    text-decoration: underline;
}

.hook-button {
    width: 19rem;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: large;
    font-weight: 600;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: 1px solid rgba(207, 207, 207, 0.338);
}

.square {
    background: #fff;
    border: 1px solid rgba(207, 207, 207, 0.338);
    float: left;
    font-size: 3rem;
    font-weight: bold;
    // line-height: 34px;
    // height: 34px;
    text-align: center;
    width: 8rem;
    height: 8rem;
    margin: 5px;
    border-radius: 10px;
    transition: .3s ease-out;

    &:focus {
        outline: none;
    }
}

.active {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    outline: none;
}

.kdb-navigation .square:focus {
    background: #ddd;
}

.game {
    // position: relative;
    background: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    .game-board {
        display: flex;
        flex-grow: 1;
    }
}

.reset {
    margin-top: 10px;
    border: none;
    padding: 5px;
    background: transparent;
    border-radius: 20px;
    width: 33vw;
    font-size: medium;
    font-weight: 600;
    transition: .3s ease-out;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }
}

@media screen and (min-width: 300px) {
    .square {
        width: 6rem;
        height: 6rem;
    }
}
